[submodule "private_dot_mozilla/private_firefox/private_goe7zjsq.DefaultUser/chrome/firefox-nordic-theme"]
	path = private_dot_mozilla/private_firefox/private_goe7zjsq.DefaultUser/chrome/firefox-nordic-theme
	url = https://github.com/EliverLara/firefox-nordic-theme
