[submodule "private_dot_mozilla/private_firefox/private_goe7zjsq.DefaultUser/chrome/--force"]
	path = private_dot_mozilla/private_firefox/private_goe7zjsq.DefaultUser/chrome/--force
	url = https://github.com/EliverLara/firefox-nordic-theme
