module.exports = {
  sign: {
    apiKey: '{{ (bitwarden "item" "web-ext").login.username }}',
    apiSecret: '{{ (bitwarden "item" "web-ext").login.password }}'
  },
  run: {
    firefox: 'developer-edition',
  }
};